#chat {
	display: none;
}

#chat-container {
	background: #eee;
	color: #202b38;
	height: 50vh;
	padding: 2rem;
	border-radius: 6px 6px 0 0;
	overflow-y: auto;
}

#chat-container::-webkit-scrollbar {
	display: none;
}

.chat-message {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	margin-bottom: 2rem;
	border-radius: 1rem 1rem 1rem 0;
	width: fit-content;
	max-width: 40ch;
	word-break: break-all;
}

.chat-message-outgoing {
	display: flex;
	margin-left: auto;
	background: #202b38;
	color: #eee;
	border-radius: 1rem 1rem 0 1rem;
}

#chat form input {
	width: 100%;
	border-radius: 0 0 0 6px;
}

#chat form {
	display: flex;
	justify-content: space-between;
	gap: 0.2rem;
}

#chat form * {
	margin: 0;
}

#chat form button {
	border-radius: 0 0 6px 0;
}

#customer-list {
	padding: 0;
}

#customer-list li:first-child {
	border-radius: 6px 6px 0 0;
}

#customer-list li:last-child {
	border-radius: 0 0 6px 6px;
	border: none;
}

.customer-list-item {
	list-style: none;
	border-bottom: 1px solid #526980;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
